{% extends 'project/base.html' %}
{% load static %}
{% block content %}
<table style="border: 1px solid black;">
<thead>
        <th>Id:</th>
        <th>Weight:</th>
</thead>
{% for order in dispatch_order_list %}
    
    
    <tr>
        <td>Order Id: {{ order.id }}</td>
        <td>Order Weight: {{ order.total_weight}}</td>
    </tr>

{% endfor %}


</table>
<button id="dispatch" data-js-vars=”{{ dispatch_order_list }}”>Dispatch</button> 
<button id="genCSV">Generate CSV</button> 

 <script> alert("{{dispatch_order_list}}".length)</script>
 <script src="{% static 'js/dispatch.js' %}"></script> 

{% endblock %}