{% extends 'project/base.html' %}
{% load static %}
{% block content %}


<h1 class="next-drone">ON THE NEXT DRONE:</h1>
<div class="dispatch-list">


    <div id="contents">

    </div>


    <div class="buttons">
        <button id="dispatch" data-js-vars=”{{ dispatch_order_list }}”>Dispatch</button>
        <button id="genCSV">Generate CSV</button>
    </div>


    <script>
    
    var dispatch_button=document.getElementById("dispatch");
    var gen_CSV_button=document.getElementById("genCSV");
    var contents=document.getElementById("contents");
    var dispatchOrderList={{ dispatch_order_list | safe}};
    var toSendIds=[]
    var body=document.getElementsByTagName("body")[0]


    body.onload=putContentsInHtml()
    
   
    

    dispatch_button.onclick=function(){
        
        for(var i=0; i<dispatchOrderList.length;i++){
            toSendIds.push(dispatchOrderList[i].pk);
        }
        console.log(toSendIds);
        dispatchOrderList=[]
        
        $.ajax({
              type: "POST",
              url: "/orders/dispatch",
              contentType: 'application/json',
              data: JSON.stringify({ids:toSendIds}),
              success: function(data){
                  
                   document.location.reload()
                    
              },
              error: function(e){
                console.log(e)
              }
        });
        
        };




    gen_CSV_button.onclick=function(){

        $.ajax({
            type: "POST",
            url: "/orders/dispatch/gencsv",
            contentType: 'application/json',
            data: JSON.stringify({ids:toSendIds}),
            success: function(data){
                if(data!= ''){
                var blob=new Blob([data]);
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download="disptach_itinerary.csv";
                link.click();
                
                }
                document.location.reload()
                
                  
            },
            error: function(e){
              console.log(e)
            }
      });
        
    }



    function putContentsInHtml(){

        if(dispatchOrderList.length==0){
            contents.innerHTML="<h1> No Orders Yet. Please Wait...</h1>";
            
        }else{
            var tempString;
            tempString = "<table> <thead> <th> Order ID </th> <th> Order Weight</th> </thead>"
            for(var i=0;i<dispatchOrderList.length;i++){
                tempString+="<tr>"
                tempString+="<td> "+dispatchOrderList[i].pk+"</td>";
                tempString+="<td> "+dispatchOrderList[i].fields.total_weight+"</td>"
                tempString+="<tr>"
            }
            tempString+="</table>"
            console.log(tempString);
            contents.innerHTML=tempString
        }
        
    }  

    </script>

</div>

{% endblock %}