{% extends 'project/base.html' %}
{% load static %}
{% block content %}


<div id="contents">
       
</div>


</table>
<button id="dispatch" data-js-vars=”{{ dispatch_order_list }}”>Dispatch</button> 
<button id="genCSV">Generate CSV</button> 

<script>
    
    var dispatch_button=document.getElementById("dispatch");
    var gen_CSV_button=document.getElementById("genCSV");
    var contents=document.getElementById("contents");
    var dispatchOrderList={{ dispatch_order_list | safe}};
    var toSendIds=[]



    document.getElementsByTagName("body")[0].onload=putContentsInHtml()
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        }
       });
    

    dispatch_button.onclick=function(){
        console.log(dispatchOrderList)
        for(var i=0; i<dispatchOrderList.length;i++){
            toSendIds.push(dispatchOrderList[i].pk);
        }
        console.log(toSendIds);
        $.ajax({
            type: "POST",
            url: '/dispatch',
            data: toSendIds,
            success: success
            
          });
    };


    gen_CSV_button.onclick=function(){
        
    }



    function putContentsInHtml(){
        var tempString;
        tempString = "<table border: 1px solid black;\"> <thead> <th> Order Id: </th> <th> Order Wt.</th> </thead>"
        for(var i=0;i<dispatchOrderList.length;i++){
            tempString+="<tr>"
            tempString+="<td> "+dispatchOrderList[i].pk+"</td>";
            tempString+="<td> "+dispatchOrderList[i].fields.total_weight+"</td>"
            tempString+="<tr>"
        }
        tempString+="</table>"
        console.log(tempString);
        contents.innerHTML=tempString
    }
    

        
</script>

{% endblock %}