{% extends 'project/base.html' %}
{% load static %}
{% block content %}


<div class="block">
    <p>Category:</p>
    <div class="categories">
    <div class="dropdown">
        <button class="dropbtn" style="background-image: url({% static 'img/arrow.svg' %})">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a data-category="all" class="option">All</a>
            {% for category in categories %}
            <a data-category="{{category|slugify}}" class="option">{{category}}</a>
            {% endfor %}
        </div>
    </div>
        </div>
</div>
<div class="main">

    <div class="left">

        <div class="itemsContainer">
            <ul>


            {% for item in item_list %}
            <li class="item {{item.category|slugify}} all">
                <div class="top">
                    <img src='/media/{{item.image}}' alt="">
                    <p>{{item.name}}</p>
                    <div class="quantity">
                        <div class="minus" data-wt="{{item.weight}}" data-id="{{item.id}}">
                            -
                        </div>
                        <div class="value">0</div>
                        <div class="plus" data-wt="{{item.weight}}" data-id="{{item.id}}">
                            +
                        </div>
                    </div>
                    <i class="arrow material-icons">arrow_drop_down</i>
                </div>

                <div class="extra">
                    <div class="inner">
                        <p> *{{item.image}}*{{item.description}}</p>
                        <p class="weight">Weight: {{item.weight}}kg</p>
                    </div>
                </div>






            {% empty %}
                <li>No items .</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="right">


        <div class="bottom">
            <div class="priority-check">
                <div data-priority='-1' class="active priority-item low">Low</div>
                <div data-priority='0' class="priority-item medium">Medium</div>
                <div data-priority='1' class="priority-item high">High</div>
            </div>
            <div class="addToCart">Place Order</div>
            <p>Current weight: <span id="current-weight">0.0</span>kg</p>
            <p>Maximum weight allowed: 25.0kg</p>
            <p class="errorMessage">Error: You have exceeded the maxmimum capacity (25.0 kgs)!</p>
        </div>

    </div>

</div>


{% endblock %}