{% extends 'project/base.html' %}

{% block content %}



<div class="main">
    <div class="left">
        <div class="block">
            <p>Category:</p>
            <div class="categories">
                <div class="inner">
                <div class="option">All</div>
                {% for category in categories %}
                    <div class="option">{{category}}</div>
                {% endfor %}
                </div>

            </div>
        </div>



        <div class="itemsContainer">
            <ul>


            {% for item in item_list %}
            <li class="item">
                <div class="top">
                    <p>{{item.name}}</p>
                    <div class="quantity">
                        <div class="minus" data-wt="{{item.weight}}" data-id="{{item.id}}">
                            -
                        </div>
                        <div class="value">0</div>
                        <div class="plus" data-wt="{{item.weight}}" data-id="{{item.id}}">
                            +
                        </div>
                    </div>
                    <p>{{item.price}}$</p>
                    <i class="arrow material-icons">arrow_drop_down</i>
                </div>

                <div class="extra">
                    <p>{{item.description}}</p>
                    Wt- {{item.weight}}
                </div>






            {% empty %}
                <li>No items .</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="summary">
            Summary
        </div>
        <div class="bottom">
            <div class="addToCart">Add to Cart</div>
            <p>Maximum weight allowed: 25kg</p>
            <p class="errorMessage">Error: You have exceeded the maxmimum capacity (25.0 kgs)!</p>
        </div>

    </div>

</div>


{% endblock %}