{% extends 'project/base.html' %}

{% block content %}
<div class="myOrders">

<ul>
    {% for order in myorders %}
        <li style="margin: 20px;display: flex; justify-content: space-between;width: 70%">
            {% if order.status != 'DELIVERED' %} 
                <p>Order_id: {{order.id}}</p>
                <p>Order Status: {{order.status}}</p>
                <button class="notifyDelivery notifyDelivery-{{order.id}}"  data-id="{{order.id}}" data-type="UPDATE">
                    Notify Delivery
                </button>
            {% endif %}
            {% if order.status == 'QUEUED_FOR_PROCESSING' %}
                <button class="cancelOrder" data-id="{{order.id}}" data-type="CANCEL">Cancel</button> 
            {% endif %}
            
        </li>
    {% endfor %}
</ul>
</div>


{% endblock %}