{% extends 'project/base.html' %}
{% load static %}
{% block content %}


<h1 class="next-drone">QUEUED FOR PROCESSING:</h1>
<div class="qfprocessing-list">


    <div id="contents">

    </div>
    
    <div class="buttons">
        <button id="popqueue" data-js-vars=”{{ warehouse_order_list }}”>Pack Top Order</button>
    </div>

    <div id="orderDetails">

    </div>



    <script>
    
    var pop_button=document.getElementById("popqueue");
    var contents=document.getElementById("contents");
    var processingOrderDetail = document.getElementById("orderDetails");
    var warehouseOrderList= {{ warehouse_order_list | safe }};
    var processingOrderList = {{ processing_order_list | safe}}
    var orderList;
    var toSendIds=[]
    var body=document.getElementsByTagName("body")[0]

    var ordersPopped="";


   
        
    body.onload=putContentsInHtml();
    body.onload=displayOrders();


    pop_button.onclick=function(){

        $.ajax({
              type: "POST",
              url: "/orders/warehouse",
              contentType: 'application/json',
              data: JSON.stringify({id:warehouseOrderList[0].pk}),
              success: function(data){
                    window.location.reload();
              },
              error: function(e){
                console.log(e)  //important 
              }
        });

    }

    function generatePdf(elem){
        
            $.ajax({
            type: "POST",
            url: "/orders/warehouse/genpdf",
            contentType: 'application/json',
            data: JSON.stringify({id:elem.id}),
            success: function(data){
                 
                if(data!= ''){
                var blob=new Blob([data]);
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download="shippinglabel.pdf";
                link.click(); 
                
                }
                document.location.reload()
                
                  
            },
            error: function(e){
              console.log(e)
              
            }
      });

    }

    function putContentsInHtml(){
        if(warehouseOrderList.length==0){
            contents.innerHTML="<h1> No Orders Yet. Please Wait...</h1>";
            
        }
        
        else{
            var tempString;
            tempString = "<table> <thead> <th> Order ID </th> <th> Order Weight</th> </thead>"
            for(var i=0;i<warehouseOrderList.length;i++){
                tempString+="<tr>";
                tempString+="<td> "+warehouseOrderList[i].pk+"</td>";
                tempString+="<td> "+warehouseOrderList[i].fields.total_weight+"</td>"
                tempString+="<tr>"
            }
            tempString+="</table>"

            contents.innerHTML=tempString;
        }
        
    }  

    function displayOrders(){
            var ordersToDisplay="";
            for(var i=0;i<processingOrderList.length;i++){
                console.log(processingOrderList[i])
                ordersToDisplay+="<hr>"+"<p>Order Details</p><br> "+
                                "<p> Order Id: "+processingOrderList[i].pk+"</p>"+
                                "<p>Total Weight:"+ processingOrderList[i].fields.total_weight +"</p>"+
                                "<p>Priority:"+processingOrderList[i].fields.priority+"</p>"+
                                "<p>Ordering Clinic: "+processingOrderList[i].fields.ordering_clinic.name+"</p>"+
                                "<td> <button id='"+processingOrderList[i].pk+"' onclick='generatePdf(this)'> Generate PDF</button> </td>"+"<hr><br><br>";
            }   
            processingOrderDetail.innerHTML=ordersToDisplay;  
    }
            
    


    </script>

</div>

{% endblock %}