@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FBFBFB;
}

.main-content{
    padding: 50px;

}

.header{
    padding: 30px 50px;
    height: 100px;
    box-sizing: border-box;
    background: #F14F5A;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo a{
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
}

.main .left{
    flex: 2;
}
.main .right{
    flex: 1;
}

.block{
    display: flex;
}

.block p{
font-size: 24px;
}

.block .categories {
    margin-left: 30px;
}

.block .categories .inner{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.block .categories .inner.closed{
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.block .categories .option{
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.block .categories .inner{
    position: absolute;
}

.itemsContainer{
    padding-top: 50px;
}

.itemsContainer li.item{
    list-style: none;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.itemsContainer li.item .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsContainer li.item .extra{
    display: none;
    padding-top: 20px;

}


.quantity{
    display: flex;
    font-size: 20px;
}


.plus, .minus{
    cursor: pointer;
}
.plus, .minus, .value{
    border: 1px solid;
    padding: 4px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.itemsContainer .item .arrow{
    cursor: pointer;
    font-size: 40px;
    transition: all 0.3s ease-out;
    transform: rotate(0);
}

.itemsContainer .item .arrow.toggled{
    transform: rotate(180deg);
}


.itemsContainer .item .extra .inner{
    display: flex;
    justify-content: space-between;
}

.itemsContainer .item .extra .inner .weight{
    font-size: 14px;
    color: grey;
}

.right{
    padding: 25px;
    height: 200px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 100px;
    width: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.right .top{

}
.right .bottom{
    display: flex;
    flex-direction: column;
}

.right .bottom .priority-check{
    display: flex;
    margin: 20px auto;
}

.priority-check > * {
    text-align: center;
    border: 1px solid;
    width: 60px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-item.active{
    background-color: #656565;
    color: white;
    border: 1px solid #000;
}

.addToCart{
    padding: 10px;
    background: #F14F5A;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 40px;
}

.errorMessage{
    display: none;
}

.dropbtn {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    text-align: left;
    background-repeat: no-repeat;
      background-size: 30px;
  text-transform: capitalize;
      background-position: 95% 50%;
}

.dropbtn.openCategories{

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ccc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    top: 58px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}





.dispatch-list {
    width: 40%;
    padding: 30px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.dispatch-list .buttons{
   display: flex;
   justify-content: space-evenly;

}

.dispatch-list #contents table{
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    table-layout: fixed;
}

.dispatch-list #contents table thead{
    font-size: 25px;
    text-decoration: underline;

}



.dispatch-list #contents table tr td {
    padding-bottom: 1.5em;
}
.dispatch-list #contents table tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}


.dispatch-list #contents h1{
    color: red;
    font-size: 25px;
    margin: 20px;
}

.next-drone{
    margin: 20px 0;
}

.dispatch-list .buttons button{
    padding: 10px;
    background: #F14F5A;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 40px;
}

img{
    margin-left: 25px;
    height: 100px;
}