*{
    padding: 0;
    margin: 0;
}

h1{
    color: red;
}

.main-content{
    padding: 50px;
}

.header{
    padding: 30px;
    height: 100px;
    box-sizing: border-box;
    background: #F14F5A;
    display: flex;
    align-items: center;
}

.header .logo a{
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
}

.main .left{
    flex: 2;
}
.main .right{
    flex: 1;
}

.block{
    display: flex;
}

.block p{
font-size: 24px;
}

.block .categories .option{
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    background: pink;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.block .categories .inner{
    position: absolute;
}

.itemsContainer{
    padding-top: 50px;
}

.itemsContainer li.item{
    list-style: none;
    width: 100%;
    background: cyan;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.itemsContainer li.item .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsContainer li.item .extra{
    display: none;
    padding-top: 20px;

}


.quantity{
    display: flex;
    font-size: 20px;
}

.plus, .minus, .value{
    border: 1px solid;
    padding: 4px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsContainer .item .arrow{
    font-size: 40px;
    transition: all 0.3s ease-out;
    transform: rotate(0);
}

.itemsContainer .item .arrow.toggled{
    transform: rotate(180deg);
}


.right{
    padding: 25px;
    height: 400px;
    border-radius: 8px;
    margin-left: 100px;
    width: 200px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.right .top{

}
.right .bottom{
    display: flex;
    flex-direction: column;
}

.addToCart{
    padding: 10px;
    background: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
}

.errorMessage{
    display: none;
}